<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="shortcut icon" href="/img/mercadoico.ico" type="image/x-icon">
    
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre"></a>
            </div>
            <div class="form">
                <form action="/" method="GET">
                <input class="barra-nav" type="search" name="busquedas" size="23"  placeholder="Busca productos, marcas y más...">
                <button type="submit"><i class="fas fa-search"></i></button>
                </form>    
            </div>          
            
        </div>
        <div class="caja-subtitulo">
                <h3 class="texto-subtitulo" ><i class="fas fa-hand-holding-usd"></i> Comprar en cuotas y sin tarjeta de credito </h3>
            </div>
    <!--barra de navegacion entre paginas-->        
        <nav class="nav-header">
            <ul class="botton-right">
                <li> <a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            
        
                <ul class="botton-left">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis Compras <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
        </nav>
    </header>
    
    <main>
    <section class="banner">
        <img src="/img/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
        <!-- seccion para productos basados en busquedas anteriores -->
        <section class="last-visit">
            <h2 class="titulos"><marquee behavior="srcoll" direction="left">Basado en tu última visita</marquee></h2>
            <div class="products">
                <article class="articulos-visitas1">
                    <img  src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera" class="pruduct_img" >

                    <div class="main-articulo">

                        <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4 class="descripciones">Cafetera moulinex</h4>
                    </div>
                </article>
                <article class="articulos-visitas1">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de mac-book" class="pruduct_img" >

                <div class="main-articulo">

                    <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
                </article> 
                <article class="articulos-visitas2">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung galaxi s10" class="pruduct_img" >

                    <div class="main-articulo">

                        <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="articulos-visitas2">

                    <img src="/img/img-tv-samsung-smart.jpg" alt=" Imagen de Smatr" class="pruduct_img" >

                    <div class="main-articulo">

                        <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>


        <!--BOTON DE WHATSAPP-->
        <button class="button-whatsapp" >
            <img src="/img/whatsapp.png" alt="whatsapp" class="whatsapp">
        </button>

        <!-- seccion para productos en la seccion de ofertas -->

        <section>
            <h2 class="titulos"><marquee behavior="srcoll" direction="left">Sección de Ofertas</marquee></h2>

            
        <article class="productos-ofertas-linea1">
                <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera" class="pruduct_img">

                <div class="main-articulo">

                    <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4 class="descripciones">Cafetera moulinex</h4>
                </div>
        </article>
        <article class="productos-ofertas-linea1">
                <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de mac-book" class="pruduct_img" >

            <div class="main-articulo">   

                <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
            </div>
        </article>
        <article class="productos-ofertas-linea2">
            
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung galaxi s10" class="pruduct_img">

            <div class="main-articulo">

                <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <h4 class="descripciones">Samsung Galaxy S10</h4>
            </div>
        </article>
        <article class="productos-ofertas-linea2">
            
                <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen de Smatr" class="pruduct_img" >

            <div class="main-articulo">

                <div class="circ-env"><i class="fa fa-truck" style="margin: 15px;"></i></div>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <h4 class="descripciones">SmartTv Samsung 43"</h4>
            </div>
        </article>
        </section>
    </main>
    <footer>
        <div class="caja-footer">
        <section class="iconos-footer">
            <div class="img-countain">
                <i class="fab fa-cc-paypal"></i>
            </div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            
            
        </section>
        <section class="iconos-footer">
                <div class="img-countain"><i class="fas fa-archive"></i></div>
                <h2> Envío gratis desde $ 2.500</h2> 
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            
        </section>
        <section class="iconos-footer">
            <div class="img-countain"><i class="far fa-paper-plane"></i></div>
                <h2> De principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            
        </section>
    </div>
        <hr>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
        </section>
    </footer>
</body>
</html>